<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
<pre>
Dear ${a1},
      
You have changed the password associated with your m-POS Merchant Portal Account 

Your new password is: ${a2}

If you did not make this change and believe your m-POS Merchant Portal Account has been compromised, please contact contact m-POS Customer Support at support@mpos.com.
                
Disclaimer for mail:
This e-mail, including attachments, may include confidential and/or proprietary information, and may be used only by the person or entity to which it is addressed. If the reader of this e-mail is not the intended recipient or his or her authorized agent, the reader is hereby notified that any dissemination, distribution or copying of this e-mail is prohibited. If you have received this e-mail in error, please notify the sender by replying to this message and delete this e-mail immediately.
</pre>
</body>
</html>

